

#plant-name {
    order:1;
    font-size:large;
    font-weight:500;
}

#plant-bio {
    font-weight:500;
}

#risk-score{
    order:2;
}

.another-plant{
    order:3;
    text-decoration:none;
    color:black;
}

.another-plant a{
    text-decoration:none;
    color:black;
}   

.plant-bio-card{
    max-width:300px;
    float:right;
    padding:20px 20px;
    opacity:0.5;
    z-index:1;
}

#wikipedia {

}

#map-id{
    display:inline-block;
    width:100%;
    z-index:-2;
}
.main-wrapper{
    height:100%;
    display:flex;
    flex-direction:row;
}

.main{
    width:100%;
    z-index:-1;
}

.left{
    max-width:20%;
    position:relative;
    top:0px;
    left:-15px;
    margin-right:-25px;
    background-color:rgba(60, 117, 58);
    padding:5px 5px 5px 20px;
    border-radius:15px;
    border: 2px solid black;
    height:100%;
    display:flex;
    flex-direction: column;
}
html, body
{
    height: 100%;
}