.left{
    max-width:15%;
    position:relative;
    top:0px;
    left:-15px;
    background-color:rgba(60, 117, 58);
    padding:5px 5px 5px 20px;
    border-radius:15px;
    border: 2px solid black;
    height:100%;
    display:flex;
    flex-direction: column;
}

#plant-name {
    order:1;
    font-size:large;
    font-weight:500;
}

#plant-bio {
    font-weight:500;
}

#risk-score{
    order:2;
}

.another-plant{
    order:3;
    text-decoration:none;
    color:black;
}

.another-plant a{
    text-decoration:none;
    color:black;
}   

.plant-bio-card{
    max-width:300px;
    position:relative;
    top:3%;
    opacity:0.5;
}

#wikipedia {

}
.main-wrapper{
    height:100%;
    display:flex;
    flex-direction:row;
}

html, body
{
    height: 100%;
}